body{
	font-family:"¸¼Àº °íµñ", "°íµñ", "±¼¸²";
}
header {
	width: 80%;
	/* margin-right: auto;
	margin-left: auto; */
	margin: 0 auto; /*°¡¿îµ¥Á¤·Ä*/
	background-color: #069;
	padding: 10px;
	overflow: hidden;
}
header h1{
	width:40%;
	float:left;	
	color:#fff;
}

header nav {
	width:60%;
	float:right;	
}

nav ul{
	list-style-type:none;	
}

nav ul li{
	display: inline;
	float: left;
	margin: 15px;
}


nav ul li a{
	color:white;
	text-decoration:none;	
}
p {
	font-size:15px;
	line-height:20px;
}
dt {
	font-weight:bold;
	color:purple;
}

h1{
	font-size:2em;	
}

section{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border:5px solid #333;
	padding:5px;
	overflow:hidden;
}
article h3{
	background-image:url(images/bg.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:30px;
}
aside{
	clear:both; /*ºÎ»óÇÏÁö ¾ÊÀ½*/
	height:auto;
	padding:10px;
}
footer{
	clear:both;
	width: 80%;
	margin-right: auto;
	margin-left: auto;	
	margin-top:0;
	padding:10px;
	background-color:#333;
	color:white;	
	text-align:center;
}